@model SignUpApp.Models.User
@{
    ViewBag.Title = "SignUp";
    
}
<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Register</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "badge badge-danger" })
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                        @if (ViewBag.error != null)
                        {
                            <span class="badge badge-danger">@ViewBag.error</span>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                    </div>
                    <div>
                    <div class="form-group">
                        <input type="submit" onclick="validateForm()" name="submit" class="btn btn-danger" value="Register"/>
                    </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<script>
    function validateForm() {
        var username = document.getElementById('username').value.trim();
        var password = document.getElementById('password').value.trim();
        var email = document.getElementById('email').value.trim();

        if (username === "") {
            document.getElementById('usernameError').innerText = "Username is required";
            document.getElementById('usernameError').style.display = "block";
            return false;
        } else if (username.includes(" ")) {
            document.getElementById('usernameError').innerText = "Username should not contain spaces";
            document.getElementById('usernameError').style.display = "block";
            return false;
        } else {
            document.getElementById('usernameError').style.display = "none";
        }

        if (!(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$!%*#?&])[A-Za-z\d$!%*#?&]{10,}$/.test(password))) {
            document.getElementById('passwordError').innerText = "Password should contain at least 10 characters including a number and a special character";
            document.getElementById('passwordError').style.display = "block";
            return false;
        } else {
            document.getElementById('passwordError').style.display = "none";
        }

        if (!(/^\S+\S+\.\S+$/.test(email))) {
            document.getElementById('emailError').innerText = "Invalid email format";
            document.getElementById('emailError').style.display = "block";
            return false;
        } else {
            document.getElementById('emailError').style.display = "none";
        }

        return true; 
    }
</script>

